#links {
    display: flex;
    flex-direction: column;
    width: 2dvw;
    gap: 10px;
}
#Footer {
    margin-top:50dvw;
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 38, 38);
    align-items: center;
}

#quickLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logos {
    margin-top: 3dvw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5dvw;
    
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.logo {
    width: 10dvw;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5dvw;
}

#copyright {
    margin-top: 3dvw;
    font-size: 3dvw;
}