
*{
    margin: 0;
    padding: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
}

.cars{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2dvw;
}

#hero-text{
    font-size: 10dvw;
    padding: none;
}

#hero-subtext{
    font-size: 1.75dvw;
    margin-top: -20px;
}


.car{
    width: 4 dvw;
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}