body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  --formula-black: url(./Fonts/Formula1-Black.ttf);
  --formula-bold: url(./Fonts/Formula1-Bold.ttf);
  --formula-regular: url(./Fonts/Formula1-Regular.ttf);
  --formula-wide: url(./Fonts/Formula1-Wide.ttf);
}
